kind: Service
apiVersion: v1
metadata:
  name: backend
  namespace: flask-example
spec:
    selector:
      app: backend
    ports:
      - name: http
        protocol: TCP
        port: 80
        targetPort: 5000
    type: LoadBalancer

